body {
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

.main__item__2 {
  flex-basis: calc((100% - 7400px) / 9);
  border: 1px solid rgb(238, 238, 238);
}

.so__net__ico {
  width: 20px;
  height: 20px;
  display: block;
  fill: #e9e6e6;
  transition: color 0.3s ease, transform 0.3s ease;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main__item__2:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.hidden__text {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

.box {
  position: relative;
  overflow: hidden;
}

.box:hover .hidden__text {
  transform: translatey(-100%);
}

.name__2 {
  font-family: "Roboto", bold;
  font-style: normal;
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 6%;
  padding-left: 24px;
}

.hr {
  width: 99.9%;
  display: flex;
  margin: 0px 0px;
  justify-content: center;
  border: 1px solid rgb(236, 236, 236);
}

.con__wrap {
  display: flex;
  justify-content: flex-end;
}

body {
  font-family: "Roboto";
}

.header__list__contacts {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .header__list {
    width: 500px;
  }
  .menu-toggle {
    display: none;
  }
  .header-list {
    display: none;
  }
  .openbtn {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .header-list {
    display: none;
  }
  .openbtn {
    display: none;
  }
  .card__img__new {
    width: 345px !important;
    height: 120px;
    border-radius: 4px;
    background: rgb(245, 244, 250);
  }
  .menu-toggle {
    display: none;
  }
  .antenna {
    padding: 25px 144px !important;
  }
  .efectivity {
    width: 100% !important;
  }
  .webstudio, .webstudiof {
    font-size: 24px;
    margin-right: 87px !important;
  }
  .our__team__lisst {
    flex-wrap: wrap;
    padding-left: 15px;
  }
  .our__team__picture__list {
    width: 354px;
    height: 374px;
  }
  .p__description {
    width: 354px;
  }
  .main__list__2 {
    flex-wrap: wrap;
  }
  .box {
    width: 368px;
  }
  .header__list {
    width: 97px !important;
    padding-left: 0px;
  }
  .main__list {
    flex-wrap: wrap;
  }
  .what__we__do {
    display: none !important;
    color: #fff;
  }
  .header__list__contacts {
    flex-direction: column;
    padding-left: 0px;
    position: relative;
    left: 250px;
    gap: 0px !important;
  }
  .what__we__do__img {
    display: none;
  }
  .what__we__do__item {
    display: none;
  }
  .our__team {
    display: none !important;
  }
  .footer__social__networking__wrapper {
    margin-left: 165px;
  }
  .what__we__do__list {
    display: none;
  }
  .what__w__d {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
    outline: red 1px solid;
  }
  .header-list {
    display: none;
  }
  .header__nav {
    width: 30px;
  }
  .active-b {
    color: rgb(33, 33, 33);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .webstudio, .webstudiof {
    font-size: 24px;
    padding-left: 15px;
  }
  .header__list {
    width: 30px;
    display: flex;
  }
  .card__img__new {
    max-width: 480px !important;
    min-width: 320px;
    height: 120px;
    border-radius: 4px;
    background: rgb(245, 244, 250);
  }
  .antenna {
    padding: 25px 144px !important;
  }
  .header__list__contacts {
    display: flex;
    flex-direction: column;
  }
  .active, .header__tell {
    display: none;
  }
  .active__r__now {
    display: none;
  }
  .main__title {
    margin-left: 0px !important;
    font-size: 16px;
    font-weight: 900;
    line-height: 42px;
    margin-left: 140px;
  }
  .button__order, .btn__send, .footer__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal {
    min-width: 320px !important;
    height: 609px !important;
  }
  .modal__input {
    width: 310px !important;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .modal__par {
    margin: 0px 0px;
    margin-left: 0px !important;
  }
  .terms {
    font-size: 12px;
  }
  .modal__area {
    margin-top: 0px;
    width: 310px !important;
    height: 120px;
  }
  .modal__title {
    font-size: 7px;
  }
  .main__buttons__list {
    height: 200px;
    flex-wrap: wrap;
  }
  .box {
    width: 320px;
  }
  .checkbox {
    position: relative;
    bottom: 20px;
    left: 10px;
  }
  .btn__close {
    position: relative;
    left: 300px;
  }
  .efectivity {
    width: 100% !important;
  }
  .webstudiof {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .main__title {
    font-size: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .what__we__do {
    display: none !important;
  }
  .footer__button {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 20px !important;
    display: flex;
    justify-content: center;
  }
  .card__img::before,
  .card__img::after {
    content: "";
    width: 450px;
    height: 120px;
    background-size: contain;
    border-radius: 4px;
  }
  .backdrop {
    width: 100%;
  }
  body {
    margin: 0px;
  }
  .card__img__clock::before,
  .card__img__clock::after {
    content: "";
    width: 270px;
    height: 120px;
    background-size: contain;
    border-radius: 4px;
  }
  .our__team__item {
    width: 320px;
  }
  .our__team {
    width: 320px;
  }
  .our__team__lisst {
    flex-direction: column;
    width: 320px;
  }
  .main__list {
    flex-direction: column;
  }
  .footer__title {
    justify-content: center;
    font-size: 14px;
  }
  .what__we__do {
    display: none;
  }
  .what__we__do__img {
    display: none;
  }
  .what__we__do__item {
    display: none;
  }
  .what__we__do__list {
    display: none;
  }
  .what__w__d {
    display: none;
  }
  .thumb {
    display: none;
  }
  .thumb > .label {
    display: none;
  }
  .client__list {
    flex-wrap: wrap;
    padding-left: 0px;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .footer__button {
    font-size: 16px;
  }
  .footer__form {
    margin-left: 0px !important;
  }
  .footer__input {
    width: 258px;
    height: 50px;
  }
}
.efectivity {
  width: 1600;
  height: 600px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to right, rgba(46, 47, 59, 0.247), rgba(46, 47, 59, 0.247)), url("../images/efimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button__order, .btn__send, .footer__button {
  font-family: "Roboto";
  background-color: #2196F3;
  color: white;
  border: none;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: background-color, transform;
  transition-duration: 250ms;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.button__order:hover, .btn__send:hover, .footer__button:hover {
  background-color: #188CE8;
}

.card__img__new {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: rgb(245, 244, 250);
}

.retinaimg {
  max-width: 370px;
  height: auto;
  display: block;
}

.retinaimgl {
  max-width: 370px;
  height: auto;
  display: block;
}

.retinaimgt {
  max-width: 320px;
  height: auto;
  display: block;
}

.antenna {
  padding: 25px 100px;
}

.main__card {
  width: 270px;
}

.card__img__clock::before,
.card__img__clock::after {
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  border-radius: 4px;
}

.card__img__clock::after {
  background-image: url(/images/antenna.png);
  background-size: 100px;
  background-repeat: no-repeat;
}

.card__img__clock::after {
  display: flex;
  background-position: center;
  background-color: #F5F4FA;
  background-size: 70px;
}

.card__img::before,
.card__img::after {
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  border-radius: 4px;
}

.card__img::after {
  background-image: url(/images/antenna.png);
  background-size: 100px;
  background-repeat: no-repeat;
}

.card__img::after {
  display: flex;
  background-position: center;
  background-color: #F5F4FA;
  background-size: 70px;
}

.card__img__clock::before,
.card__img__clock::after {
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  border-radius: 4px;
}

.card__img__clock::after {
  background-image: url(/images/clock.png);
  background-size: 100px;
  background-repeat: no-repeat;
}

.card__img__clock::after {
  display: flex;
  background-position: center;
  background-color: #F5F4FA;
  background-size: 70px;
}

.card__img__gra::before,
.card__img__gra::after {
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  border-radius: 4px;
}

.card__img__gra::after {
  background-image: url(/images/diagram.png);
  background-size: 100px;
  background-repeat: no-repeat;
}

.card__img__gra::after {
  display: flex;
  background-position: center;
  background-color: #F5F4FA;
  background-size: 70px;
}

.card__img__astro::before,
.card__img__astro::after {
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  border-radius: 4px;
}

.card__img__astro::after {
  background-image: url(/images/astronaut.png);
  background-size: 100px;
  background-repeat: no-repeat;
}

.card__img__astro::after {
  display: flex;
  background-position: center;
  background-color: #F5F4FA;
  background-size: 70px;
}

.list__title {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.p__description {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  color: #757575;
}

.our__team__lisst {
  list-style: none;
  margin-bottom: 94px;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-left: 0px;
}

.our__team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.our__team {
  color: #2F303A;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.section__our__team {
  background-color: #F5F4FA;
  margin-top: 188px;
  margin-bottom: 50px;
}

.our__team__picture__list {
  list-style: none;
  display: block;
}

.name {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 3%;
  display: flex;
  justify-content: center;
}

.decrip__2 {
  color: rgb(117, 117, 117);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 3%;
  text-align: left;
  color: #757575;
  padding-left: 24px;
}

.decrip {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  color: #757575;
  display: flex;
  justify-content: center;
}

.svg__ico__item {
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  border-radius: 50%;
}
.svg__ico__item:hover {
  background-color: #2196F3;
  border-radius: 50%;
}

.svg__ico__list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 0px;
  justify-content: center;
  margin-bottom: 42px;
  align-items: center;
  flex-wrap: wrap;
}

.so__net__ico {
  width: 20px;
  height: 20px;
  display: block;
  color: rgb(175, 177, 184);
}
.so__net__ico:hover {
  color: #ffffff;
}

.svg__ico__item:hover {
  background-color: #2196F3;
  border-radius: 50%;
}

.test {
  display: flex;
  height: 80px;
}
.test .ttt {
  background-color: rgba(127, 255, 212, 0.541);
}

.test2 {
  background-position: center;
}

.header__tell {
  color: #757575;
  font-weight: 500;
}

.active__ground, .active__ground1 {
  font-family: "Roboto";
  background-color: #F5F4FA;
  color: black;
  border: none;
  width: 125px;
  height: 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  /* margin-bottom: 30px; */
  letter-spacing: 6%;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active__ground:hover, .active__ground1:hover {
  background-color: #2196F3;
  color: white;
}

.fo__so__net__list {
  list-style: none;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
  gap: 10px;
  justify-content: center;
}

.footer__title {
  color: white;
  display: flex;
  margin-top: 0px;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  gap: 50px;
  margin-right: auto;
  width: 500px;
  align-items: center;
}

.header__list__contacts {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__mail {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.header__mail .header__mail:hover {
  fill: #188CE8;
}

.header__phone {
  margin-right: 10px;
  fill: #212121;
}
.header__phone .header__phone:hover {
  fill: #188CE8;
}

.active:hover, .header__tell:hover {
  color: #2196F3;
}

.active__r__now {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
  color: #2196F3;
  text-decoration: none;
  animation: jello-horizontal 0.9s both;
}

.active__ground1 {
  width: 73px;
  height: 38px;
}
.active__ground1:hover {
  background-color: #2196F3;
  color: white;
}

.active__now:hover {
  background-color: #188CE8;
}

.active, .header__tell {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.decor__2 {
  position: relative;
  top: 20px;
  right: -126px;
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.decor {
  position: relative;
  top: 30px;
  right: 2px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page {
  display: flex;
  align-items: center;
}

.mailto__2 {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 2%;
}

.webstudio, .webstudiof {
  color: #2196F3;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  text-decoration: none;
  width: 145px;
  font-weight: 31px;
  margin-top: 7px;
  padding-left: 35px;
  margin-top: 22px;
  margin-right: 93px;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.studio {
  color: black;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  width: 145px;
  height: 31px;
}

.studio2 {
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  width: 145px;
  height: 31px;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tel {
  -webkit-text-decoration: #757575;
          text-decoration: #757575;
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  list-style: none;
}

footer {
  background-color: #2F303A;
  /* height: 252px; */
  padding-top: 60px;
}

footer {
  display: flex;
}

.footer__form {
  margin-left: 95px;
}

.footer__title {
  color: white;
  display: flex;
  margin-top: 0px;
}

.fo__so__net__item {
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition-property: background-color, transform;
  transition-duration: 250ms;
}

.fo__so__net__item {
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.fo__so__net__item:hover {
  background-color: #2196F3;
}

.so__net__link .so__net__ico:hover {
  background-color: #2196F3;
}

.mailto {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}

.fo__so__net__ico {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  top: 2px;
  color: white;
  fill: wheat;
}

.footer__button {
  margin-left: 12px;
}
.footer__button:hover {
  background-color: #188CE8;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__img {
  margin-left: 10px;
}

.footer__input {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  width: 320px;
  height: 50px;
  padding-left: 15px;
  color: white;
}

.fo__footer {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  width: 350px;
}

.fo__font {
  font-family: "Roboto", regular;
  font-weight: 14;
  font-style: normal;
  list-style: none;
  width: 241px;
}

.so__net__ico__link {
  display: block;
  padding: 8px 8px;
}

.so__net__link {
  color: white;
  fill: currentColor;
  display: block;
  padding: 12px 12px;
  transition-property: background-color, transform;
  transition-duration: 250ms;
}

.so__net__link .so__net__ico:hover {
  background-color: #2196F3;
}

.so__net__link:hover {
  color: white;
  fill: white;
}

.main .lorem {
  background-color: rgba(255, 0, 187, 0.622);
}

.main__item__2 {
  flex-basis: calc((100% - 7400px) / 9);
  border: 1px solid rgb(238, 238, 238);
}

.main__item__2:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.main__buttons__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 94px;
  flex-direction: row;
  gap: 8px;
}

.main__title {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 6%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.main__list {
  display: flex;
  list-style: none;
  margin-top: 94px;
  margin-bottom: 50px;
  padding: 0px;
  gap: 30px;
}

.main__list__2 {
  list-style: none;
  margin-top: 34px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  gap: 27px;
}

.client__title {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
}

.client__list {
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  display: flex;
  justify-content: center;
}

.client__ico {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgb(175, 177, 184);
  color: rgb(175, 177, 184);
}
.client__ico:hover {
  color: #188CE8;
}

.client__item {
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  display: flex;
  width: 170px;
  justify-content: center;
  align-items: center;
  height: 92px;
  transition: color 0.3s ease, transform 0.3s ease;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgb(175, 177, 184);
}
.client__item:hover {
  border-color: #2196F3;
}

.modal__title {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 3%;
  text-align: center;
}

.modal__img {
  position: absolute;
  padding: 10px;
  padding-top: 14px;
}

.modal__link {
  color: #2196F3;
}

.btn__send .btn__send:hover {
  background-color: #188CE8;
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.no__scroll {
  overflow: hidden;
}

.checkbox {
  display: block;
  width: 16px;
  height: 15px;
  position: relative;
  top: 33px;
  margin-right: 7px;
  border: 1.5px solid #212121;
  border-radius: 4px;
}

.modal__input {
  width: 448px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 18px;
  padding-left: 30px;
}

.modal__area {
  width: 448px;
  height: 120px;
  margin-top: 18px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.btn__close {
  /* box-sizing: border-box; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px;
  box-sizing: border-box;
  border-radius: 100%;
  background-color: var(--white);
}
.btn__close .close__img:hover {
  fill: #188CE8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close__img {
  width: 11px;
  height: 11px;
}

.modal__par {
  color: rgb(117, 117, 117);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1%;
  margin-left: 10px;
  text-align: left;
}

.terms {
  color: #757575;
  text-decoration: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 500px;
  min-height: 500px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  /* transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.what__we__do {
  color: #2F303A;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  display: flex;
  justify-content: center;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.what__we__do__img {
  display: block;
  height: 100%;
}

.what__we__do__item {
  /* height: 100px; */
  margin: 0px 0px 0px 0px;
  padding: -2px -2px -2px -2px;
  /* outline: 2px solid blue; */
}

.what__we__do__list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  padding-left: 0px;
}

.what__w__d {
  margin-top: 94px;
  margin-bottom: 50px;
}

.thumb {
  position: relative;
  background-color: rgba(47, 48, 58, 0.8);
}

.thumb > .label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  color: #F5F4FA;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}/*# sourceMappingURL=main.css.map */