.our-team-picture-list {
    list-style: none;
    display: block;
  }
  
  .card-img::before,
  .card-img::after {
    content: "";
    width: 270px;
    height: 120px;
    background-size: contain;
    border-radius: 4px;
  }
  
  .card-img::after {
    background-image: url(images/antenna.png);
    background-size: 100px;
    background-repeat: no-repeat;
  }
  
  .card-img::after {
    display: flex;
    background-position: center;
    background-color: $our-command-substrate;
    background-size: 70px;
  }
  
  .card-img-clock::before,
  .card-img-clock::after {
    content: "";
    width: 270px;
    height: 120px;
    background-size: contain;
    border-radius: 4px;
  }
  
  .card-img-clock::after {
    background-image: url(images/clock.png);
    background-size: 100px;
    background-repeat: no-repeat;
  }
  
  .card-img-clock::after {
    display: flex;
    background-position: center;
    background-color: $our-command-substrate;
    background-size: 70px;
  }
  
  .card-img-gra::before,
  .card-img-gra::after {
    content: "";
    width: 270px;
    height: 120px;
    background-size: contain;
    border-radius: 4px;
  }
  
  .card-img-gra::after {
    background-image: url(images/diagram.png);
    background-size: 100px;
    background-repeat: no-repeat;
  }
  
  .card-img-gra::after {
    display: flex;
    background-position: center;
    background-color: $our-command-substrate;
    background-size: 70px;
  }
  
  .card-img-astro::before,
  .card-img-astro::after {
    content: "";
    width: 270px;
    height: 120px;
    background-size: contain;
    border-radius: 4px;
  }
  
  .card-img-astro::after {
    background-image: url(images/astronaut.png);
    background-size: 100px;
    background-repeat: no-repeat;
  }
  
  .card-img-astro::after {
    display: flex;
    background-position: center;
    background-color: $our-command-substrate;
    background-size: 70px;
  }