.container {
  width: 1170px;
  margin: 0 auto;
}

@media (min-width:1200px) {
.header__list{
  width: 500px;
}

  .menu-toggle{
    display: none;
  }
  
  .header-list{
    display: none;
      }
    
      .openbtn{
        display: none;
      }
}

@media (min-width:768px) and (max-width:1199px) {

  .container {
    max-width: 768px;
    margin: 0 auto;
    // outline: red 1px solid;
  }

.client__list{
  // max-width: 738px;
}

  .header-list{
display: none;
  }

  .openbtn{
    display: none;
  }

  .card__img__new{
    width: 345px!important;
    height: 120px;
  border-radius: 4px;
  background: rgb(245, 244, 250);
  }
  
.menu-toggle{
  display: none;
}

  .antenna{
  padding: 25px 144px!important;
  }

  .efectivity {
    width: 100%!important;
  }
  
  .our__team__item {
    // width: 450px;
  }

  .webstudio {
    font-size: 24px;
    margin-right: 87px!important;
  }

  .our__team__lisst {
    flex-wrap: wrap;
    padding-left: 15px;
  }

  .our__team__picture__list {
    width: 354px;
    height: 374px;
  }

  .p__description {
    width: 354px;
  }

.main__list__2{
  flex-wrap: wrap;
}

.box{
  width: 368px;
}

  .header__list {
    width: 97px !important;
    padding-left: 0px;
  }

  .main__list {
    flex-wrap: wrap;
  }

  .what__we__do {
    display: none!important;
    color: #fff;

  }

  .header__list__contacts {
    flex-direction: column;
    padding-left: 0px;
    position: relative;
    left: 250px;
    gap: 0px!important;
  }

  .what__we__do__img {
    display: none;
  }

  .what__we__do__item {
    display: none;
  }


.our__team{
  display: none!important;
}


.footer__social__networking__wrapper{
  margin-left: 165px;
}

  .what__we__do__list {
    display: none;
  }

  .what__w__d {
    display: none;
  }

}



@media (min-width:320px) and (max-width:480px){
  .container {
    max-width: 320px;
    margin: 0 auto;
    outline: red 1px solid;
  }

  .header-list{
    display: none;
      }

.header__nav{
width: 30px;
}

.active-b{
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


  .webstudio {
    font-size: 24px;
    padding-left: 15px;
  }

  .header__list {
    width: 30px;
    display: flex;
  }

  .card__img__new{
    max-width: 480px!important;
    min-width: 320px;
    height: 120px;
  border-radius: 4px;
  background: rgb(245, 244, 250);
  }
  
  .antenna{
  padding: 25px 144px!important;
  }

  .header__list__contacts {
    display: flex;
    flex-direction: column;
  }

  .active {
    display: none;
  }

  .active__r__now {
    display: none;
  }

  .main__title {
    margin-left: 0px!important;
    font-size: 16px;
    font-weight: 900;
    line-height: 42px;
    margin-left: 140px;
  }


.button__order{
  @include flexunifide;
}

.modal{
  min-width: 320px!important;
height: 609px!important;
}

.modal__input{
  width: 310px!important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal__par{
  margin: 0px 0px;
  margin-left: 0px!important;
}

.terms{
  font-size: 12px;
}

.modal__area{
  margin-top: 0px;
  width: 310px!important;
height: 120px;
}

.modal__title{
  font-size: 7px;
}

.main__buttons__list{
  height: 200px;
  flex-wrap: wrap;
}

.box{
  width: 320px;
}

.checkbox{
  position: relative;
  bottom: 20px;
  left: 10px;
}

.btn__close {
  position: relative;
  left: 300px;
}

  .efectivity {
    width: 100%!important;
  }

  .webstudiof {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .main__title {
    font-size: 6px;
    @include flexunifide;
  }

  .what__we__do {
    display: none!important;
  }

  .footer__button {
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-top: 20px!important;
    display: flex;
    justify-content: center;
  }

  .card__img::before,
  .card__img::after {
    content: "";
    width: 450px;
    height: 120px;
    background-size: contain;
    border-radius: 4px;
  }

  .backdrop{
    width: 100%;
  }

  // .our__team__picture__list {
  //   width: 432px!important;
  //   height: 440px!important;
  // }

body{
  margin: 0px;
}

  .card__img__clock::before,
  .card__img__clock::after {
    content: "";
    width: 270px;
    height: 120px;
    background-size: contain;
    border-radius: 4px;
  }

  .our__team__item {
width: 320px;
  }

.our__team{
  width: 320px;
}

  .our__team__lisst {
    flex-direction: column;
width: 320px;
  }

  // .main__card {
  //   width: 450px;
  // }

  .main__list {
    flex-direction: column;
  }

  .footer__title {
    justify-content: center;
    font-size: 14px;
  }


  .what__we__do {
    display: none;

  }

  .what__we__do__img {
    display: none;
  }

  .what__we__do__item {
    display: none;
  }

  .what__we__do__list {
    display: none;
  }

  .what__w__d {
    display: none;
  }

  .thumb {
    display: none;
  }

  .thumb>.label {
    display: none;
  }

  .client__list {
    flex-wrap: wrap;
    padding-left: 0px;
  }


  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .footer__button {
    font-size: 16px;
  }

  .footer__form {
    margin-left: 0px !important;
  }

  .footer__input {
    width: 258px;
    height: 50px;
  }


}
  