.container {
  width: 1170px;
  margin: 0 auto;
}

@media (min-width:1200px) {
  .menu-toggle{
    display: none;
  }
  
}

@media (min-width:768px) and (max-width:1199px) {

  .container {
    max-width: 768px;
    margin: 0 auto;
    // outline: red 1px solid;
  }

  .card__img__new{
    width: 345px!important;
    height: 120px;
  border-radius: 4px;
  background: rgb(245, 244, 250);
  }
  
.menu-toggle{
  display: none;
}

  .antenna{
  padding: 25px 144px!important;
  }

  .efectivity {
    width: 100%!important;
  }
  
  .our__team__item {
    width: 450px;
  }

  .webstudio {
    font-size: 24px;
    margin-right: 87px!important;
  }

  .our__team__lisst {
    padding-left: 15px;
  }


  .our__team__item {
    width: 354px;
    height: 536px;
  }

  .our__team__picture__list {
    width: 354px;
    height: 374px;
  }

  .p__description {
    width: 354px;
  }

  .header__list {
    width: 97px !important;
    padding-left: 0px;
  }

  .main__list {
    flex-wrap: wrap;
  }

  .what__we__do {
    display: none;
    color: #fff;

  }

  .header__list__contacts {
    flex-direction: column;
    padding-left: 0px;
    position: relative;
    left: 250px;
  }

  .what__we__do__img {
    display: none;
  }

  .what__we__do__item {
    display: none;
  }


.our__team{
  display: none!important;
}

.section__our__team{
  display: none;
}

.footer__social__networking__wrapper{
  margin-left: 165px;
}

  .what__we__do__list {
    display: none;
  }

  .what__w__d {
    display: none;
  }

}



@media (min-width:320px) and (max-width:480px){
  .container {
    max-width: 480px;
    margin: 0 auto;
    outline: red 1px solid;
  }

.header__nav{

}

.active-b{
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




  .menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }

  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b500;
    backdrop-filter: blur(10px);
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    fill: #000000;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: #000000;
    text-shadow: #fff 1px 0 10px;
    text-decoration: none;
  
  }





  .webstudio {
    font-size: 24px;
    padding-left: 15px;
  }

  .header__list {
    display: flex;
  }

  .card__img__new{
    max-width: 450px!important;
    min-width: 320px;
    height: 120px;
  border-radius: 4px;
  background: rgb(245, 244, 250);
  }
  
  .antenna{
  padding: 25px 144px!important;
  }

  .header__list__contacts {
    display: flex;
    flex-direction: column;
  }

  .active {
    display: none;
  }

  .active__r__now {
    display: none;
  }

  .main__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    margin-left: 140px;
  }


.button__order{
  @include flexunifide;
}

.modal{
  min-width: 450px!important;
height: 609px!important;
}

.modal__input{
  width: 370px!important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal__par{
  margin: 0px 0px;
  margin-left: 50px!important;
}

.terms{
  font-size: 12px;
}

.modal__area{
  margin-top: 0px;
  width: 370px!important;
height: 120px;
}

.modal__title{
  font-size: 12px;
}

.checkbox{
  position: relative;
  bottom: 20px;
  left: 60px;
}

.btn__close {
  position: relative;
  left: 410px;
}

  .efectivity {
    width: 100%!important;
  }

  .webstudiof {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .main__title {
    font-size: 6px;
    @include flexunifide;
  }

  .what__we__do {
    display: none!important;
  }

  .footer__button {
    margin-top: 20px;
  }

  .card__img::before,
  .card__img::after {
    content: "";
    width: 450px;
    height: 120px;
    background-size: contain;
    border-radius: 4px;
  }

  .backdrop{
    width: 100%;
  }

  .our__team__picture__list {
    width: 432px!important;
    height: 440px!important;
  }

  .card__img__clock::before,
  .card__img__clock::after {
    content: "";
    width: 270px;
    height: 120px;
    background-size: contain;
    border-radius: 4px;
  }


  .our__team__lisst {
    flex-direction: column;

  }

  // .main__card {
  //   width: 450px;
  // }

  .main__list {
    flex-direction: column;
  }

  .footer__title {
    justify-content: center;
    font-size: 14px;
  }


  .what__we__do {
    display: none;

  }

  .what__we__do__img {
    display: none;
  }

  .what__we__do__item {
    display: none;
  }

  .what__we__do__list {
    display: none;
  }

  .what__w__d {
    display: none;
  }

  .thumb {
    display: none;
  }

  .thumb>.label {
    display: none;
  }

  .client__list {
    flex-wrap: wrap;
  }


  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .footer__button {
    font-size: 16px;
  }

  .footer__form {
    margin-left: 0px !important;
  }

  .footer__input {
    width: 258px;
    height: 50px;
  }


}
  