.decor{
    position: relative;
    top: 30px;
    right: 2px;
    width: 48px;
  height: 4px;
    border-radius: 2px;
  background: rgb(33, 150, 243);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .active:hover .decor{
   transform:translateY(-20px) ; 
  }
  
  .active:hover .decor-2{
    transform: translateY(-20px);
  }
  
  
  .decor-2{
    position: relative;
    top: 30px;
    right: 2px;
    width: 78px;
  height: 4px;
    border-radius: 2px;
  background: rgb(33, 150, 243);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }