.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tel {
  text-decoration: $grey-text-color;
  color: $grey-text-color;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  list-style: none;
}

footer {
  background-color: $footer-efectivity-substrate-color;
  /* height: 252px; */
  padding-top: 60px;
}

footer {
  display: flex;
}

.footer__form {
  margin-left: 95px;
}

.footer__title {
  color: white;
  display: flex;
  margin-top: 0px;

}

.fo__so__net__item {
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  border-radius: 50%;
  @include flexunifide;
  margin: 0 auto;
  transition-property: background-color, transform;
  transition-duration: 250ms;
}


.fo__so__net__item {
  transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.fo__so__net__item:hover {
  background-color: $accent-color;
}

.so__net__link .so__net__ico:hover {
  background-color: $accent-color;
}

.mailto {
  text-decoration: none;
  color: $grey-text-color;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}

.fo__so__net__ico {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  top: 2px;
  color: white;
  fill: wheat;
}

.footer__button {
  @extend .button__order;
  margin-left: 12px;
  // font-family: "Roboto";
  // background-color: $accent-color;
  // color: white;
  // border: none;
  // width: 216px;
  // height: 50px;
  // font-size: 16px;
  // font-weight: 700;
  // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  // transition-property: background-color, transform;
  // transition-duration: 250ms;
  // border-radius: 4px;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  &:hover {
    background-color: $accent-color-hover;
    transform: cubic-bezier(0.4, 0, 0.2, 1);

  }

}

.footer__img {
  margin-left: 10px;
}

.footer__input {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  width: 320px;
  height: 50px;
  padding-left: 15px;
  color: white;
}

.webstudiof{
  @extend .webstudio;
}

.fo__footer {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  max-width: 350;
}

.fo__font {
  font-family: "Roboto", regular;
  font-weight: 14;
  font-style: normal;
  list-style: none;
  width: 241px;
}


.so__net__ico__link {
  display: block;
  padding: 8px 8px;
}

.so__net__link {
  color: white;
  fill: currentColor;
  display: block;
  padding: 12px 12px;
  transition-property: background-color, transform;
  transition-duration: 250ms;
}

.so__net__link .so__net__ico:hover {
  background-color: $accent-color;
}

.so__net__link:hover {
  color: white;
  fill: white;
}