// .test {
//   display: flex;
//   height: 80px;


//   .ttt {
//     background-color: rgba(127, 255, 212, 0.541);
//   }
// }

// .test2 {
//   background-position: center;
// }

// .header__tell {
//   @extend .active;
//   color: $grey-text-color;

//   font-weight: 500;
// }

// .active__ground {
//   font-family: "Roboto";
//   background-color: $our-command-substrate;
//   color: black;
//   border: none;
//   width: 125px;
//   height: 38px;
//   font-size: 16px;
//   font-weight: 700;
//   line-height: 30px;
//   letter-spacing: 6%;
//   border-radius: 4px;
//   transition: background-color 0.3s ease, transform 0.3s ease;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover {
//     background-color: $accent-color;
//     color: $white;
//   }

// }

// .fo__so__net__list {
//   list-style: none;
//   display: flex;
//   margin-top: 0px;
//   margin-left: 0px;
//   padding-top: 0px;
//   padding-left: 0px;
//   gap: 10px;
//   justify-content: center;
// }

// .footer__title {
//   color: white;
//   display: flex;
//   margin-top: 0px;
// }

// .header__list {
//   list-style: none;
//   display: flex;
//   justify-content: space-between;
//   justify-content: flex-start;
//   gap: 50px;
//   margin-right: auto;
//     width: 500px;
//   align-items: center;
// }

// .header__list__contacts {
//   list-style: none;
//   display: flex;
//   gap: 50px;
//   margin-left: auto;
//   justify-content: space-between;
//   align-items: center;
// }

// .header__nav {
//   display: flex;
//   max-width: 500px;
//   justify-content: space-between;
// }

// .header__mail {
//   margin-right: 10px;

//   width: 16px;
//   height: 16px;

//   .header__mail:hover {
//     fill: #188CE8;
//   }

// }

// .header__phone {
//   margin-right: 10px;
// fill: $our-command-substrate;

//   .header__phone:hover {
//     fill: #188CE8;
//   }


// }

// .active:hover {
//   color: $accent-color;
// }

// .active__r__now {
//   color: rgb(33, 33, 33);
//   font-family: "Roboto";
//   font-size: 14px;
//   font-weight: 500;
//   line-height: 16px;
//   letter-spacing: 2%;
//   text-decoration: none;
//   color: $accent-color;
//   text-decoration: none;
//   animation: jello-horizontal 0.9s both;
// }

// .menu {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   z-index: 1;
//  }
 
//  .menu-item {
//   position: relative;
//   margin-right: 15px;
//  }
 
//  .menu-item:hover .submenu {
//   display: block;
//  }
 
//  .menu-item:hover .menu-link {
// scale: (1.1);
//  }
 
//  .menu-link {
//   color: black;
//   -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
//   transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
//   -o-transition: background-color 0.3s ease, transform 0.3s ease;
//   transition: background-color 0.3s ease, transform 0.3s ease;
//   transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
//   display: block;
//   padding: 10px 20px;
//   text-decoration: none;
  
//   &:hover{
//     color: rgb(66, 66, 66);
//   }
//  }
 
//  .submenu {
//   position: absolute;
//   width: 100%;
//   left: 0;
//   margin: 0;
//   list-style: none;
//   padding: 10px;
//   border-radius: 10px;
//   -webkit-backdrop-filter: blur(10px);
//           backdrop-filter: blur(10px);
//   display: none;
//  }

//  .submenu-link{
//   text-decoration: none;
//   color: white;
//  }


//  .sidebar-link{
//   text-shadow: rgb(0, 0, 0) 1px 0 10px;
// }

// .sidebar {
//     height: 100%;
//     width: 250px; 
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     left: -250px; 
//     background-color: #11111100;
//     backdrop-filter: blur(10px);
//     overflow-x: hidden;
//     transition: 0.3s; 
//     padding-top: 60px;
// }

// .closebtn{
//   text-shadow: rgb(0, 0, 0) 1px 0 10px;
// }

// .sidebar a {
//     padding: 10px 15px;
//     text-decoration: none;
//     font-size: 25px;
//     color: white;
//     display: block;
//     transition: 0.3s;
// }

// .sidebar a:hover {
//     background-color: #57575743;
// }

// .openbtn {
//     font-size: 20px;
//     cursor: pointer;
//     border: none;
//     background-color: transparent;
//     margin-left: 150px;
// }

// #main {
//     transition: margin-left 0.3s;
//     padding: 16px;
// }


// .active__ground1 {
//   @extend .active__ground;
//   width: 73px;
//   height: 38px;

//   &:hover {
//     background-color: $accent-color;
//     color: $white;
//   }

// }



// .active__now:hover {
//   background-color: $accent-color-hover;
// }


// .active {
//   color: rgb(33, 33, 33);
//   font-family: "Roboto";
//   font-size: 14px;
//   font-weight: 500;
//   line-height: 16px;
//   letter-spacing: 2%;
//   text-decoration: none;
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }


// .decor__2 {
//   position: relative;
//   top: 20px;
//   right: -126px;
//   width: 78px;
//   height: 4px;
//   border-radius: 2px;
//   background: rgb(33, 150, 243);
//   transition-property: transform;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .decor {
//   position: relative;
//   top: 30px;
//   right: 2px;
//   width: 48px;
//   height: 4px;
//   border-radius: 2px;
//   background: rgb(33, 150, 243);
//   transition-property: transform;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .header-page {
//   @include flex2
// }

// .mailto__2 {
//   text-decoration: none;
//   color: $grey-text-color;
//   font-family: "Roboto";
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 16px;
//   font-weight: 500;
//   letter-spacing: 2%;
// }

// .webstudio {
//   color: $accent-color;
//   font-family: "Raleway";
//   font-size: 26px;
//   font-weight: 700;
//   line-height: 31px;
//   letter-spacing: 3%;
//   text-decoration: none;
//   width: 145px;
//   font-weight: 31px;
//   margin-top: 7px;
//   padding-left: 35px;
//   margin-top: 22px;
//   margin-right: 93px;
//   -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//   animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

// }


// @-webkit-keyframes scale-up-center {
//   0% {
//     -webkit-transform: scale(0.5);
//     transform: scale(0.5);
//   }

//   100% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//   }
// }

// @keyframes scale-up-center {
//   0% {
//     -webkit-transform: scale(0.5);
//     transform: scale(0.5);
//   }

//   100% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//   }
// }


// .studio {
//   color: black;
//   font-family: "Raleway";
//   font-size: 26px;
//   font-weight: 700;
//   line-height: 31px;
//   letter-spacing: 3%;
//   width: 145px;
//   height: 31px;
// }

// .studio2 {
//   color: rgb(255, 255, 255);
//   font-family: "Raleway";
//   font-size: 26px;
//   font-weight: 700;
//   line-height: 31px;
//   letter-spacing: 3%;
//   width: 145px;
//   height: 31px;
// }

// @keyframes jello-horizontal {
//   0% {
//     transform: scale3d(1, 1, 1);
//   }

//   30% {
//     transform: scale3d(1.25, 0.75, 1);
//   }

//   40% {
//     transform: scale3d(0.75, 1.25, 1);
//   }

//   50% {
//     transform: scale3d(1.15, 0.85, 1);
//   }

//   65% {
//     transform: scale3d(0.95, 1.05, 1);
//   }

//   75% {
//     transform: scale3d(1.05, 0.95, 1);
//   }

//   100% {
//     transform: scale3d(1, 1, 1);
//   }
// }

// @keyframes slide-in-blurred-top {
//   0% {
//     transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
//     transform-origin: 50% 0%;
//     filter: blur(40px);
//     opacity: 0;
//   }

//   100% {
//     transform: translateY(0) scaleY(1) scaleX(1);
//     transform-origin: 50% 50%;
//     filter: blur(0);
//     opacity: 1;
//   }
// }

// @-webkit-keyframes scale-up-center {
//   0% {
//     -webkit-transform: scale(0.5);
//     transform: scale(0.5);
//   }

//   100% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//   }
// }

// @keyframes scale-up-center {
//   0% {
//     -webkit-transform: scale(0.5);
//     transform: scale(0.5);
//   }

//   100% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//   }
// }

// ХЕДЕР
.test {
  // background-color: rgb(255, 0, 0);
  // width: 100px;
  // height: 100px;
  display: flex;
  height: 80px;

  .ttt {
    background-color: rgba(127, 255, 212, 0.541);
  }
}

.test2 {
  background-position: center;
}

.header__tell {
  @extend .active;
  color: $grey-text-color;

  font-weight: 500;
}

.active__ground {
  font-family: "Roboto";
  background-color: $our-command-substrate;
  color: black;
  border: none;
  width: 125px;
  height: 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  /* margin-bottom: 30px; */
  letter-spacing: 6%;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-color;
    color: $white;
  }

}

.fo__so__net__list {
  list-style: none;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
  gap: 10px;
  justify-content: center;
}

.footer__title {
  color: white;
  display: flex;
  margin-top: 0px;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  gap: 50px;
  margin-right: auto;
  width: 500px;
  align-items: center;
}

.header__list__contacts {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__mail {
  margin-right: 10px;

  width: 16px;
  height: 16px;

  .header__mail:hover {
    fill: #188CE8;
  }

}

.header__phone {
  margin-right: 10px;
  fill: #212121;

  .header__phone:hover {
    fill: #188CE8;
  }


}

.active:hover {
  color: $accent-color;
}

.active__r__now {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
  color: $accent-color;
  text-decoration: none;
  animation: jello-horizontal 0.9s both;
}

// .active__now {
//   font-family: "Roboto";
//   background-color: var(--accent-color);
//   color: white;
//   border: none;
//   width: 73px;
//   height: 38px;
//   font-size: 16px;
//   font-weight: 700;
//   line-height: 30px;
//   letter-spacing: 6%;
//   border-radius: 4px;
//   transition: background-color 0.3s ease, transform 0.3s ease;
// }

.active__ground1 {
  @extend .active__ground;
  width: 73px;
  height: 38px;

  &:hover {
    background-color: $accent-color;
    color: $white;
  }

}



.active__now:hover {
  background-color: $accent-color-hover;
}


.active {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.decor__2 {
  position: relative;
  top: 20px;
  right: -126px;
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.decor {
  position: relative;
  top: 30px;
  right: 2px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page{
  @include flex2
}

.mailto__2 {
  text-decoration: none;
  color: $grey-text-color;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 2%;
}

.webstudio {
  color: $accent-color;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  text-decoration: none;
  width: 145px;
  font-weight: 31px;
  margin-top: 7px;
  padding-left: 35px;
  margin-top: 22px;
  margin-right: 93px;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.studio {
  color: black;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  width: 145px;
  height: 31px;
}

.studio2 {
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  width: 145px;
  height: 31px;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}