$accent-color-hover: #188CE8;
$accent-color: #2196F3;
$grey-text-color: #757575;
$footer-efectivity-substrate-color: #2F303A;
$footer-so-net-color: rgba(255, 255, 255, 0.1);
$our-command-substrate: #F5F4FA;
$white: #ffff;
$our-command-substrate-hover: #e9e6e6;
$efectivity-trans-color: #2e2f3b3f;